<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baroque.lujo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.my_account.MembershipActivity"
            android:label="@string/title_activity_for_non_members" />
        <activity
            android:name=".activities.my_account.MyAccountActivity"
            android:label="@string/title_activity_my_account" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.otp.OtpActivity"
            android:label="@string/title_activity_otp"
            android:noHistory="true"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.country.CountriesActivity"
            android:label="@string/title_activity_countries"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.PreLoginActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>